// background-color
  $bck-c-main: #EFFAFA;
  $bck-c-header: #5CA5A5;
  $bck-c-modal-elements: #FFFFFF;

  $bck-label-new: #5CA5A5;
  $bck-label-featured: #2B3939;

  $bck-c-tag-filter: #5CA5A51A;
  $bck-c-tag-hover: #5CA5A5;
  $bck-c-remove-filter: #5CA5A5;
  $bck-c-remove-filter-hover: #2B3939;

// colors
  $c-f-company-name: #5CA5A5;
  $c-f-other-info: #7C8F8F;

  $c-f-position: #2B3939;
  $c-f-position-hover: #5CA5A5;

  $c-f-labels: #FFFFFF;

  $c-f-tag-filter: #5CA5A5;
  $c-f-tag-hover: #FFFFFF;
  $c-f-clear-filter: #7C8F8F;
  $c-f-clear-filter-hover: #5CA5A5;

  $c-decor: #B7C4C4;

// shadow
  $shdw-inset-featured-vacancy: inset 5px 0 0 #5CA5A5;
  $shdw: 0 15px 20px -5px #0D718226;

// border-radius
  $brd-r-main: 0.313rem;
  $brd-r-tag-filter: 0.25rem;
  $brd-r-labels: 0.75rem;
  $brd-r-logo-company: 50%;

// font-size
  $f-sz-filter-tag: 1rem;
  $f-sz-clear-filter: 1rem;

  $f-sz-labels: 0.875rem;

  $f-sz-company-name-desktop: 1.125rem;
  $f-sz-company-name-mobile: 0.813rem;

  $f-sz-position-desktop: 1.375rem;
  $f-sz-position-mobile: 0.938rem;

  $f-sz-other-info-desktop: 1.125rem;
  $f-sz-other-info-mobile: 1rem;

// width
  $logo-mobile: 3rem;
  $logo-desktop: 5.5rem;