.filterField {
  max-width: 90vw;
  height: 50px;

  background-color: lightgoldenrodyellow;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  bottom: 35px;
  left: 25px;
}